{% extends 'text_to_speech_app/admin_templates/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ total_users }}</h3>
                <p>Total Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-person"></i>
              </div>
              <a href="{% url 'manage_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ total_active_users }}</h3>
                <p>Total Active Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-stalker"></i>
              </div>
              <a href="{% url 'active_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ total_uploaded_pdfs }}</h3>
                <p>Total Uploaded PDFs</p>
              </div>
              <div class="icon">
                <i class="ion ion-document-text"></i>
              </div>
              <a href="{% url 'total_uploaded_pdfs' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ total_converted }}</h3>
                <p>Total Converted</p>
              </div>
              <div class="icon">
                <i class="ion ion-mic"></i>
              </div>
              <a href="{% url 'total_converted_audios' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- Charts Row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Users and Active Users Chart</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="usersChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Total Uploaded PDFs</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pdfsChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Total Conversions</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="conversionsChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">User Feedback</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="feedbackChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        // Users and Active Users Chart
        var usersChartData = {
            labels: ['Total Users', 'Active Users'],
            datasets: [{
                data: [{{ total_users }}, {{ total_active_users }}],
                backgroundColor: ['#00a65a', '#f39c12'],
            }]
        };
        var usersChartCanvas = $('#usersChart').get(0).getContext('2d');
        new Chart(usersChartCanvas, {
            type: 'pie',
            data: usersChartData,
            options: { responsive: true, maintainAspectRatio: false }
        });

        // Total Uploaded PDFs Chart
        var pdfsChartData = {
            labels: ['Uploaded PDFs'],
            datasets: [{
                data: [{{ total_uploaded_pdfs }}],
                backgroundColor: ['#f39c12'],
            }]
        };
        var pdfsChartCanvas = $('#pdfsChart').get(0).getContext('2d');
        new Chart(pdfsChartCanvas, {
            type: 'bar',
            data: pdfsChartData,
            options: { responsive: true, maintainAspectRatio: false }
        });

        // Total Conversions Chart
        var conversionsChartData = {
            labels: ['Converted PDFs'],
            datasets: [{
                data: [{{ total_converted }}],
                backgroundColor: ['#f56954'],
            }]
        };
        var conversionsChartCanvas = $('#conversionsChart').get(0).getContext('2d');
        new Chart(conversionsChartCanvas, {
            type: 'bar',
            data: conversionsChartData,
            options: { responsive: true, maintainAspectRatio: false }
        });

        // Feedback Chart
        var feedbackChartData = {
            labels: ['Positive', 'Negative'],
            datasets: [{
                data: [{{ positive_feedback }}, {{ negative_feedback }}],
                backgroundColor: ['#00c0ef', '#f56954'],
            }]
        };
        var feedbackChartCanvas = $('#feedbackChart').get(0).getContext('2d');
        new Chart(feedbackChartCanvas, {
            type: 'doughnut',
            data: feedbackChartData,
            options: { responsive: true, maintainAspectRatio: false }
        });
    });
</script>
{% endblock custom_js %}
