{% extends 'text_to_speech_app/user_template/base_template.html' %}
{% load custom_filters %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="">
              <div class="card-header">
                <h3 class="card-title">Recently Uploaded</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div> 
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table text-nowrap">
                  <tbody>
                    {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                  {% for pdf in pdfs %}
                        <tr>
                            <td>{{ pdf.file|basename }}</td>
                            <td><a href="{% url 'reconvert_pdf' pdf.id %}"><i class="fas fa-redo"></i></a></td>
                            <td><a href="{% url 'delete_pdf' pdf.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

