{% extends 'text_to_speech_app/user_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <h2>Upload PDF</h2>
        <form method="post" action="{% url 'upload_pdf' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Convert</button>
        </form>

      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}


<!-- templates/converter/upload.html -->

  